input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.text-center {
    text-align: center;
    padding: 10px 0px;
}

.main-container {
    background-image: url(../images/border.png);
    background-size: 100% 100%;
    max-width: 270px;
    height: 550px;
    margin: 44px auto;
    margin-bottom: 161px;
    padding: 24px 33px;
    position: relative;
}

.field-container {
    padding: 2px 0px;
}

.field-inputs {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.field-inputs input {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    text-align: center;
    padding: 2px;
    color: #382114;
    border: solid 1px gray;
    background-color: #ffffffb0;
}

button:hover {
    cursor: pointer;
}

.field-inputs .minus-button {
    background: none;
    background-image: url(../images/minus.png);
    width: 50px;
    background-size: contain;
    background-position: center;
    height: 50px;
    border: none;
    background-repeat: no-repeat;
}

.field-inputs .plus-button {
    background: none;
    background-image: url(../images/plus.png);
    width: 50px;
    background-size: contain;
    background-position: center;
    height: 50px;
    border: none;
    background-repeat: no-repeat;
}

.field-title {
    color: #341d25;
    font-size: 22px;
    padding-left: 21px;
}

body {
    min-height: 798px;
    font-family: 'roboto slab' !important;
    height: 100%;
    /* position: absolute; */
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-image: url(../images/back.png);
    background-size: cover;
}

.header-container {
    background-color: white;
}

.minus-button {
    background: none;
    background-image: url(../images/minus.png);
    width: 60px;
    background-size: contain;
    height: 60px;
    border: none;
}

.end-turn-button {
    position: absolute;
    width: 250px;
    bottom: -18px;
    /* margin: 0 auto; */
    display: block;
    left: calc(50% - 125px);
    padding: 16px;
    color: white;
    background-color: #8e501f;
    border: solid #3b2314 2px;
    margin-top: 36px;
    font-size: 18px;
    border-radius: 6px;
    font-family: 'Roboto Slab';
}

.new-game-button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Roboto Slab';
    padding: 9px;
    border: solid #291924 2px;
    color: white;
    background-color: #8e501f;
    border-bottom-left-radius: 3px;
}